### Import

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
%matplotlib inline

In [2]:
imp=r"C:\Users\bosse\Desktop\Notebooks\Data\Project\Kaggle_dedub.csv"
df=pd.read_csv(imp,index_col='id')
df.drop(columns='Unnamed: 0',inplace=True)
display(df.head())
display(df.info())

,currency,backers_count,country,status,usd_pledged,sub_category,creator_id,goal_usd,city,launched_year,duration_d
id,,,,,,,,,,,
1714728788,CAD,16,CA,failed,577.902078,food,41046209,785.82065,Victoria,2018,59.958333
1639965256,USD,7,US,successful,211.000000,publishing,1877377173,93.00000,San Diego,2014,24.000000
1582062943,USD,99,US,successful,4697.000000,food,205122366,1500.00000,Philadelphia,2020,30.000000
1888984372,USD,3,US,failed,222.000000,technology,1458852038,25000.00000,Chicago,2019,60.000000
1409770586,USD,100,US,successful,5410.000000,publishing,1845213665,5000.00000,Madrid,2015,30.000000

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180677 entries, 1714728788 to 1126079486
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   currency       180677 non-null  object
 1   backers_count  180677 non-null  int64
 2   country        180677 non-null  object
 3   status         180677 non-null  object
 4   usd_pledged    180677 non-null  float64
 5   sub_category   180677 non-null  object
 6   creator_id     180677 non-null  int64
 7   goal_usd       180677 non-null  float64
 8   city           180677 non-null  object
 9   launched_year  180677 non-null  int64
 10  duration_d     180677 non-null  float64
dtypes: float64(3), int64(3), object(5)
memory usage: 16.5+ MB

None

### Visualization

### Split of the data

In [3]:
df['status'].replace(['successful','failed'],[1,0],inplace=True)
df_y=df['status']

In [4]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.drop(columns='status'),df_y,test_size=0.2,random_state=42)

### Preprocessing of the data

In [5]:
# standardizing of the numerical variables
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
num_list=['backers_count','goal_usd','usd_pledged','duration_d']
X_train_num=X_train[num_list]
X_test_num=X_test[num_list]
X_train_num[num_list]=sc.fit_transform(X_train[num_list])
X_test_num[num_list]=sc.fit_transform(X_test[num_list])

C:\Users\bosse\AppData\Local\Temp\ipykernel_7644\760224788.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train_num[num_list]=sc.fit_transform(X_train[num_list])
C:\Users\bosse\AppData\Local\Temp\ipykernel_7644\760224788.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test_num[num_list]=sc.fit_transform(X_test[num_list])

In [6]:
# OneHotEncoding of the categorical variable of X_train
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(sparse=False)
cat_list=['country','currency','sub_category']
ohe_train=ohe.fit_transform(X_train[cat_list])
column_name=ohe.get_feature_names_out(cat_list)
X_train_ohe=pd.DataFrame(ohe_train,columns=column_name,index=X_train.index)

In [7]:
# OHE X_test variable
ohe2=OneHotEncoder(sparse=False)
ohe_test=ohe2.fit_transform(X_test[cat_list])
column_name2=ohe2.get_feature_names_out(cat_list)
X_test_ohe=pd.DataFrame(ohe_test,columns=column_name2,index=X_test.index)

In [8]:
len(X_train['city'].value_counts())
# The variable city contain over 11000 different entries, ohe possible with so many variables?
# For the time being, city variable will be dropped

11439

In [9]:
X_train_merge=pd.concat([X_train_num,X_train_ohe],axis=1)
X_train_merge

,backers_count,goal_usd,usd_pledged,duration_d,country_AT,country_AU,country_BE,country_CA,country_CH,country_DE,...,sub_category_fashion,sub_category_film & video,sub_category_food,sub_category_games,sub_category_journalism,sub_category_music,sub_category_photography,sub_category_publishing,sub_category_technology,sub_category_theater
id,,,,,,,,,,,,,,,,,,,,,
951016356,0.609384,-0.012969,0.349829,-0.244914,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
242521970,-0.134191,-0.034624,-0.120236,-0.244914,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1091631676,-0.045987,-0.028186,-0.052784,0.248514,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1004851582,-0.155729,-0.026396,-0.129942,-0.141988,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2014286258,-0.100345,-0.026636,-0.040965,0.580893,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1063338383,-0.091115,-0.034900,-0.117114,-0.244914,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1253472741,-0.131114,-0.022187,-0.116313,-0.244914,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
461455322,-0.106499,-0.033529,-0.107753,1.323924,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
915590379,-0.101371,-0.026396,-0.076490,-0.244914,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1666526044,-0.132139,-0.035166,-0.125939,-0.244914,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Modelling of the data

Which model to chose?
- Classification. tree or regression?

Which metric to evaluate?
- Eigentlich ja nur Modelle mit den Daten füttern Verbindung zum Project eher unwichtig, keine Projektdaten

In [ ]:
# Modelle ausprobieren und Vergleichen

### First results